<form (ngSubmit)="onConfirm()" #personForm="ngForm">
    <h1 mat-dialog-title>
        {{title}}
    </h1>
    <div mat-dialog-content>
        <mat-form-field>
            <mat-label>First name</mat-label>
            <input matInput name="firstName" [(ngModel)]="person.firstName" required #firstName="ngModel">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Last name</mat-label>
            <input matInput name="lastName" [(ngModel)]="person.lastName" required #lastName="ngModel">
        </mat-form-field>
    </div>

    <div mat-dialog-actions>
        <button type="button" mat-button (click)="onDismiss()">No</button>
        <button type="submit" mat-raised-button color="primary" [disabled]="personForm.invalid">Yes</button>
    </div>
</form>