<div class="quote">
    <div class="quote__action-buttons">
        <mat-label>Quote: {{ quoteAmount | currency }}</mat-label>
        <button mat-button (click)="addEmployee()">
            Add Employee
        </button>
        <span class="quote__right-align">
            <button mat-button (click)="accordion.openAll()">Expand All</button>
            <button mat-button (click)="accordion.closeAll()">Collapse All</button>
        </span>
    </div>
    <mat-accordion class="quote__employee" [multi]="true">
        <mat-expansion-panel *ngFor="let employee of quote.employees; let i = index;">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon>account_circle</mat-icon>
                    <mat-label>Employee {{employee.firstName}} {{employee.lastName}} - {{ employeesQuote[i] | currency}}</mat-label>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <button mat-button (click)="editEmployee(employee);">
                Edit
            </button>
            <button mat-button (click)="deleteEmployee(employee);">
                Remove
            </button>
            <div>
                <label>Dependents</label>
                <button mat-button (click)="addDependent(employee);">
                    Add
                </button>
            </div>
            <div *ngFor="let dependent of employee.dependents">
                <mat-label>{{dependent.firstName}} {{dependent.lastName}}</mat-label>
                <button mat-button (click)="editDependent(dependent);">
                    Edit
                </button>
                <button mat-button (click)="deleteDependent(employee, dependent);">
                    Remove
                </button>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>
